.features {
  padding: 40px 0 80px;
}

.features-tagline {
  text-align: center;
  margin-bottom: 4px;
}

.features-title {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin-bottom: 24px;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  gap: 24px;
  margin: 0 auto;
}

.features-image {
  width: 230px;
  align-self: center;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.features-item {
  display: flex;
}

.features-item-title {
  flex: 0 0 180px;
  font-weight: 300;
  font-size: 14px;
}

.features-item-value {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .features-title {
    margin-bottom: 30px;
  }

  .features-wrapper {
    max-width: 100%;
    justify-content: center;
    flex-direction: row;
    gap: 52px;
  }

  .features-list {
    align-self: center;
  }

  .features-image {
    width: 276px;
  }
}

@media (min-width: 1024px) {
  .features {
    padding: 70px 0 140px;
  }
  .features-tagline {
    margin-bottom: 8px;
    font-size: 20px;
  }

  .features-title {
    margin-bottom: 56px;
    font-size: 40px;
  }

  .features-wrapper {
    gap: 138px;
  }

  .features-list {
    gap: 24px;
  }

  .features-image {
    width: 356px;
  }

  .features-item-title {
    font-size: 16px;
    flex-basis: 200px;
  }

  .features-item-value {
    font-size: 20px;
  }
}